@CHARSET "UTF-8";

.regitem {
	width: 100%;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0px;
	float: left;
}

.regitem div {
	width: 20%;
	float: left;
	text-align: right;
	margin-left: 0px;
}

.regitem span {
	width: 40%;
	margin-left: 0px;
	float: left;
	text-align: right;
}

.regitem input {
	width: 30%;
	float: left;
	margin-left: 10px;
}

.regsubmit {
	width: 100%;
	margin-top: 20px;
	margin-left: 0px;
	margin-right: 0px;
}

.regsubmit input {
	margin-left: 20%;
	float: left;
}
