*.class

# Package Files #
*.jar
*.war
*.ear
*.o
.DS_Store

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

jlib/ibejnilib/.classpath
jlib/ibejnilib/.project
jlib/ibejnilib/.settings/
jlib/jibe/.classpath
jlib/jibe/.project
jlib/jibe/.settings/
jlib/.project
jlib/.settings/

server/key_gen_server/.classpath
server/key_gen_server/.project
server/key_gen_server/.settings/
