<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ibe_client</property>
		<property name="hibernate.connection.password">secret</property>
		<property name="hibernate.connection.username">mysql_user</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<mapping class="hamaster.gradesign.entity.User" />
		<mapping class="hamaster.gradesign.entity.IDRequest" />
	</session-factory>
</hibernate-configuration>
